div.block {
    width: 250px;
    height: 250px;
    text-align: center;
    font-variant: small-caps;
    margin:auto;
    padding: 5px 10px;
    border: 1px solid rgb(85, 85, 87);    
  }


  div.slab {
    width: 250px;
    height: 125px;
    text-align: center;
    font-variant: small-caps;
    float: left;
    padding: 5px 10px;
    border: 1px solid rgb(85, 85, 87);    
    
  }
  .slab a,abbr{
    text-decoration: none;
  }
  div.container {
    width: 550px;
    height: 300px;
    text-align: center;
    margin:auto;
    padding: 50px 0px; 
  }