<div ng-controller="checkdemographics">
    
    
        <h1 style="font-family: Cambria; font-weight: bold; text-align: center;">User Demographics</h1>
    <div class="card">
        <div style="background-color: tomato; height: 50px;"></div>
        <div class="container">
            <span>User Count: {{UC}}</span><br><br>
            <span>Currently Logged In Users: {{CLIU}}</span><br><br>
            <span>Active Users: {{AU}}</span><br><br>
            <span>Blocked Users: {{BU}}</span><br><br>
            <span>Pending Users: {{PU}}</span>
        </div>
    </div>
</div>