<div ng-controller="offercoupon">

    <h1 style="font-family: Cambria; font-weight: bold; text-align: center;">Available Coupons</h1>
    <table class="tableDetails" style="font-family:Cambria">

        <tr style="width: 100%; position: sticky; top: 0px;">
            <th>Coupon Code</th>
            <th>Discount</th>
            <th>Usage Cap</th>
            <th>Category</th>
            <th>Orders Required For Activation</th>
            <th>Action</th>
        </tr>

        <tr ng-repeat="coupon in coupons">
            <td>{{coupon.Code}}</td>
            <td>{{coupon.Discount}}%</td>
            <td ng-show="coupon.NumOfUse == 1">{{coupon.NumOfUse}} Time</td>
            <td ng-show="coupon.NumOfUse > 1">{{coupon.NumOfUse}} Times</td>
            <td>{{coupon.Category}}</td>
            <td>{{coupon.MinOrder}}</td>
            <td><span class="blockB" ng-click="Delete(coupon.Code)">Remove</span></td>
        </tr>
    
    
    </table>
    <h1 style="font-family: Cambria; font-weight: bold; text-align: center;">Offer Coupons</h1>

    <center>
        <form ng-submit="Offer(Code, Discount, Cap, Category, Activation)" name="CouponForm">
            <input type="text" placeholder="Code" ng-model="Code" id="Code" required>
            <input type="text" placeholder="Discount" ng-model="Discount" id="Discount" required>
            <br>
            <input type="text" placeholder="Usage Cap" ng-model="Cap" id="Cap" required>
            <input type="text" placeholder="Category" ng-model="Category" id="Category" required>
            <br>
            <input type="text" placeholder="Required Order For Activation" ng-model="Activation" id="Activation" required>
            <br>
            <input type="submit" value="Post Offer" >
        </form>
    </center>

</div>