        <div>
            <center><h1 style="font-family: 'Gabriola Regular';">Contact Us</h1></center>
        </div class=>
        <div class="container">
            <div class="slab">
                <h4><b>Ariyan Jahangir</b></h4>
                <address>
                    Bashundhara Residential Area<br />
                    Block B, Road 1/B, House 276<br />
                    <abbr title="Phone">P:</abbr>
                    +8801817274124
                </address>

                <address>
                    <strong>Support:</strong>   <a href="mailto:ariyanjahangireng@gmail.com">ariyanjahangireng@gmail.com</a><br />
                </address>
                
                
            </div>
            <div class="slab" >
                <h4><b>Mehedi Hasan</b></h4>
                <address>
                    Bashundhara Residential Area<br />
                    Block B, Road 1/B, House 276<br />
                    <abbr title="Phone">P:</abbr>
                    +8801777030706
                </address>

                <address>
                    <strong>Support:</strong>   <a href="mailto:mehedi1234.mh@gmail.com">mehedi1234.mh@gmail.com</a><br />
                </address>
            </div>
            <div class="slab" >
                <h4><b>Mohimen Molla</b></h4>
                <address>
                    Beparipara, Khilkhet<br />
                    <br />
                    <abbr title="Phone">P:</abbr>
                    +8801629522969
                </address>
                <br>
                <address>
                    <strong>Support:</strong>   <a href="mailto:mashwdal@gmail.com">mashwdal@gmail.com</a><br />
                </address>
            </div>
            <div class="slab" >
                <h4><b>Kaniz Fatema Kanta</b></h4>
                <address>
                    Gazipur<br />
                    <br />
                    <abbr title="Phone">P:</abbr>
                    +8801928710271
                </address>

                <address>
                    <strong>Support:</strong>   <a href="mailto:kanizkanta47@gmail.com">kanizkanta47@gmail.com</a><br />
                </address>
            </div>
        </div>
