<div>
    <center><h1 style="font-family: 'Gabriola Regular';">Login</h1></center>
    <hr style="border-top: 2px solid rgb(223, 64, 53); width:10%; margin: 0 auto;">
    <br>
</div>

<center>
    <div class="log" ng-controller="login">
        <form ng-submit="login(UID, Password)">
            <input type="text" placeholder="User ID" id="UID" name="UID" value="" ng-model="UID" required>
            <br><br>
            <input type="password" placeholder="Password" value="" id="Password" name="Password" ng-model="Password" required>
            <br><br>
            <input type="submit" value="Login">
        </form>
    </div>
    <div class="reg">
        <p>Don't have an account? <a class="{{registration}}" href="#!/registration">Register</a></p>
    </div>
</center>